.graph {
	aspect-ratio: 480 / 560;
	max-width: 480px;
	height: auto;
}

.bottomNumber {
	font: 400 .875rem 'Nunito', sans-serif;
}

.innerText {
	font: 700 .875rem 'Nunito', sans-serif;
}

.sideTitle {
	font: 700 1.125rem 'Nunito', sans-serif;
}