.graph {
	aspect-ratio: 1192 / 426;
	max-width: 1192px;
	height: auto;
}

.bottomNumber {
	font: 400 .875rem 'Nunito', sans-serif;
}

.typeText {
	font: 300 .875rem 'Nunito', sans-serif;
}

.innerText {
	font: 700 .875rem 'Nunito', sans-serif;
}

.selectorText {
	font: 700 .75rem 'Nunito', sans-serif;
	fill: #838383;
}

.sideTitle {
	font: 700 1.125rem 'Nunito', sans-serif;
}