.wrapper {
	margin: 0 auto;
	margin-top: 150px;
	width: 350px;
	height: 548px;
	position: relative;
}

.graph {
	aspect-ratio: 350 / 548;
	height: 100%;
	width: auto;
}

.bottomNumber {
	font: 400 .875rem 'Nunito', sans-serif;
}

.innerText {
	font: 700 .875rem 'Nunito', sans-serif;
}

.sideTitle {
	font: 700 1.125rem 'Nunito', sans-serif;
}